$key: #111111;
$white: #FFFFFF;
$gray-extralight: #F6F6F6;
$gray-light: #E1E5E7;
$gray-background: #F0F4F5;
$gray-midlight: #D4D4D4;
$gray-medium: #606060;
$purple-deep: #5803E5;
$purple-medium: #830FCA;
$pink_strong: #f3289e;
$green-success: #24FFB2;
$orange-warning: #FFAB24;
$red-error: #FF2724;

$base-boxShadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$deep-boxShadow: 0 8px 16px rgba(0, 0, 0, 0.2);